#single-entry-content {
  :where(h2, h3, h4):not(:where([class~="not-prose"] *)) {
    @apply scroll-mt-10 lg:scroll-mt-24;
  }

  iframe {
    @apply max-w-full;
  }
}

.not-prose {
  @apply text-base font-normal text-neutral-900 dark:text-neutral-100;
}

.headline_desc {
  font-size: 20px !important;
}

.product-overview {
  width: fit-content;
}

.product-index {
  font-size: 70px;
}

.product-overview button {
  background-color: #00767A;
  padding: 10px 25px;
  font-weight: 600;
}

.product-review-layout.container {
  font-family: Inter, Sans-serif;
  max-width: 62rem;
  border-top: 3px solid;
  padding: 70px 16px;
}

.product-review-layout span {
  font-size: 12px;
  font-weight: 700;
}

.nc-PageSingle {
  max-width: 1300px;
  margin: auto;
}

.product-pros-cons {
  font-family: Inter,Sans-serif;
  font-size: 14px;
  font-weight: 500;
  border-color: #d4d4d4ff;
}

.product-pros-cons li p {
  font-size: 14px;
  line-height: 1.4em;
}

.product-pros p:first-child, .product-cons p:first-child{
  font-family: Inter,Sans-serif;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.pros-cons-icon {
  margin-top: 0.12rem;
}

.product-pros, .product-cons {
  border-color: #d4d4d4ff;
}

.product-review-content {
    font-family: Merriweather, Georgia, serif;
    font-size: 17px;
    font-weight: 300;
    line-height: 1.8;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.product-review-content b, .product-review-content strong {
  font-weight: 600;
}

.product-review-content a {
  text-decoration: underline;
  font-weight: 600;
}

.product-info .save-now {
  font-size: 17px;
  color: #018505;
  font-weight: 600;
}

.product-info .brand-name {
  font-weight: 500;
}


// -----------------------------------------------------------

.post-intro-content {
  font-family: Merriweather, Georgia, serif;
  display: flex;
  flex-direction: column;
  color: #000;
  font-weight: 300;
  font-size: 17px;
}

.post-intro-content h1, .post-intro-content h2, .post-intro-content h3, .post-intro-content h4, .post-intro-content h5, .post-intro-content h6 {
  margin-top: revert;
  margin-bottom: 1rem;
}

.post-intro-content p {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.post-intro-content a {
  font-weight: 600;
}

.post-intro-content ul {
  padding-left: 20px;
}

.post-intro-content li {
  text-decoration: underline;
  text-underline-offset: 6px;
  padding-bottom: 10px;
  list-style-type: disc;
  font-size: 0.9rem;
}

.post-intro-content .menu-content {
  border: 1px solid #d4cccc;
  padding: 15px 24px;
}

.post-intro-content .menu-content h2 {
  font-size: 20px !important;
  text-decoration: underline;
  text-underline-offset: 7px;
  padding: 0;
  padding-left: 20px;
  margin-bottom: 30px;
}

.post-intro-content .menu-content a {
  font-size: 14px;
}

.post-intro-content b, .post-intro-content strong {
  font-weight: 600;
}

.nc-SingleHeader {
  font-family: Inter,Sans-serif;
  max-width: 680px;
  margin: auto;
}

.nc-SingleHeader h1 {
  font-weight: 400;
  letter-spacing: 0.05em;
  line-height: 1.2;
}

.editor-text {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 20px 0;
}

.editor-text p {
  font-size: 12px;
  font-weight: 400;
}

.category-on-top {
  background-color: transparent;
  box-shadow: none;
  padding: 0 !important;
  color: #000;
  text-decoration: underline;
}

.category-on-top:hover {
  background-color: transparent;
  color: #000;
}

.header-author p{
  font-size: 11.3px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.save-article {
  margin: 30px 0 10px !important;
}

.faqs-footer {
  max-width: 62rem;
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.faqs-footer h4 {
  font-size: 31px;
  margin-bottom: 30px;
}

.faqs-footer .faq-content {
  font-family: Merriweather, Georgia, serif;
  display: flex;
  flex-direction: column;
  gap: 40px;
  color: #000;
  font-weight: 300;
  font-size: 17px;
  line-height: 1.8;
}

.faqs-footer .faq-divider {
  width: 100%;
  height: 6px;
  background-color: #000;
  margin-bottom: 70px;
}

.section-white {
  background-color: #e5e5e5ff;
  height: 120px;
  width: 100%;
}

.single-featured-image {
  padding-left: 16px;
  padding-right: 16px;
}

// ---------------------------------------------------
.watch-next {
  max-width: 960px;
  margin: auto;
  font-size: 12px;
  color: #000;
}

.post-product-main-image {
  max-width: 466px;
}

.article-share-icon {
  display: flex;
  gap: 5px;
}

.article-share-icon .share-icon{
  background-color: #f0f0f0;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.share-icon.facebook:hover {
  background-color: #3b5998;
}
.share-icon.x:hover {
  background-color: #000;
}
.share-icon.whatsapp:hover {
  background-color: #00ae4d;
}
.share-icon.mail:hover {
  background-color: #e52222;
}

@media (max-width: 768px) {
  .nc-SingleHeader h1 {
    font-size: 36px;
  }

  .product-overview .product-name {
    font-size: 2em;
  }


  .faqs-footer h4 {
    font-size: 24px;
  }

  .single-featured-image {
    padding: 0;
  }

  .section-white {
    height: 40px;
  }

  .watch-next h3 {
    font-size: 38px;
  }
}




// -----------------------------------------------

.box-subscription {
  font-family: Merriweather, Georgia, serif;
  max-width: 670px;
}

.box-subscription .form-sub {
  font-family: Inter, Sans-serif;
}

.box-subscription .form-sub input {
  width: 80%;
  height: 50px;
}

.box-subscription .form-sub button {
  width: 20%;
  font-size: 13px;
  height: 50px;
  font-weight: 600;
  line-height: 1.1;
}

.footer-category a h3{
  font-size: 67px;
}


// ---------------------------------Layout Half Four-------------------------------

.layout-half-four.container, .layout-line-four.container, .layout-slice-three.container {
  padding-left: 0;
  padding-right: 0;
}

.category-child-title {
  font-size: 28px;
  letter-spacing: 0.05em;
}

@media (max-width: 768px) {
  .sticky-image-layout img{
    max-width: 320px;
    width: 100%;
    margin: auto;
  }
}


// ------------------------------------------

.page-layout {
  max-width: 670px;
  margin: auto;
}